.about-container{
    height: 100vh;
    width: 100%;
    display: table;
}
.motto{
    width: 400px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-left: 100px;
    box-shadow: 5px 0 #f0f1f2;
}
.motto img{
    display: inline-block;
    width: 80%;
}
.intro{
    height: 100vh;
    overflow-y: scroll;
}
.intro p {
    font-size: 24px;
    margin: 30px;
}
.intro h1{
    margin: 30px;
}