.about-container{
    width: 80%;
    padding: 20px;
    margin: auto;
    height: 800px;
    /* background-color:rgba(127, 255, 212, 0.2); */
}

.about-content{
    text-decoration: none;
}
.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 500px;
    text-align: center;
    position: relative;
  }
  .intro-content{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .steps-action {
    margin-top: 5vh;
  }

  .about-next{
      float: right;
  }
  .about-prev{
      float:left;
  }
  .block{
      display: block;
      height: 75px;
  }
  .clear-both{
      display: block;
      height: 10px;
      clear: both;
  }
  @media screen and (max-width:768px){
      .about-content{
          margin-top: 40px;
      }
      .about-content-steps{
          position: absolute;
          top:150px;
      }
      /* 注：这是一个ant-design内部类的css ,好吧其实并没做到hh*/
      .about-content-step{
          margin-left: 16vw;   
      }
      .steps-content{
          align-items: flex-end;
          margin-top: -40px;
          height: 350px;
          padding-bottom: 80px;
      }
  }