.arti-head{
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
}
.arti-head h2{
    color: #7f7f7f;
    border-bottom: 2px solid #dada92;
}
.midarti{
    background-color: #ffffff;
    min-height: 800px;
}