@import '~highlight.js/styles/mono-blue.css';
.content-container{
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 20px;
    min-height: 600px;
}
.content-header{
    text-align: left;
}
.tag a{
    color: #404040;
    display: inline-block;
    border: 1px solid #404040;
    border-radius: 999em;
    padding: 0 10px 0 10px;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
    cursor: pointer;
}
.tag a:hover{
    color:#1890ff;
    background-color: rgba(0,0,0,.05);
}
.content-header{
    margin-bottom: 50px;
}
.content-header h1{
    font-size: 55px;
    margin-bottom: 24px;
    line-height: 1.1;
    font-weight: 700;
}
.content-header h2{
    font-size: 20px;
    font-family: Lora,'Times New Roman',serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.1;
}
.content-body p {
    margin: 30px;
    font-size: 16px;
    line-height: 1.7;
    color: #404040;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.content-body pre{
    background-color: #eaeef3;
    padding: 10px;
    margin: 30px;
}
.content-body img {
    margin: 30px;
}
.cometoreview{
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #959595;
}
.review-title{
    margin-top: 20px;
    border: 2px solid #959595;
    border-bottom: none; 
    border-radius: 10px 10px 0 0;
    padding: 6px 0px;
    width: 100px;
    text-align: center;
    position: relative;
    background-color: #fff;
    z-index: -2;
}
.review-title h3{
    color: #959595;
}
.review-subtitle-deco{
    width: 8px;
    background: #959595;
    height: 35px;
    float: left;
    margin-top: 10px;
    border-radius: 15%;
}
.review-subtitle{
    float: left;
    color: #959595;
    font-size: 16px;
    margin-top: 14px;
    margin-left: 15px;
}
.review-hr{
    width: 100%;
    border-bottom: 2px solid #959595;
    position: relative; 
    z-index: -3;
    top: -2px;
}
.content-block{
    clear: both;
    height: 50px;
    text-align: center;
}
.content-block button{
    outline:none;
}
.content-block button{
    margin-top: 20px;
    background-color: cornflowerblue;
    color: #fff;
    padding: 5px;
    width: 100px;
    border: 0.5px solid deepskyblue;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .content-body{
        padding: 10px;
    }
    .pc-back{
        margin-top:50%; 
    }
}
