hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.links p{
    color: black;
}
.links:hover p{
    color: #0085a1;
    text-shadow: none;
}
.links :focus p{
    color: #0085a1;
}
.post-title{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    line-height: 1.3;
    margin-bottom: 8px;
}
.post-subtitle{
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
}