.container{
    overflow: hidden;
}
.tagcloud a{
    background-color: rgb(164, 180, 228);
    transition: all .4s ease;
    font-size: 14px;
    border: none;
    line-height: 28px;
    margin: 0 6px;
    margin-bottom: 8px;
    padding: 0 10px 0 12px;
    display: inline-block;
    border-radius: 999em;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.tagcloud{
    text-align: center;
}
.tagcloud a:hover{
    background-color: #0085a1;
}
.tag{
    font-size: 21px;
    font-weight: 200;
    line-height: 1.7;
    font: normal normal normal 21px/1 FontAwesome;
    color: #0085a1;
    margin-top: 50px;
    margin-bottom: 10px;
}
.tagcloud :nth-child(1){
    background-color: #f3f5f5;
    font-weight: 700;
    color: #0085a1;
}

.tagcloud :nth-child(1):hover{
    background-color: #e4e4e4;
}
.tagchecked{
    box-shadow: rgba(0,0,0,.117647) 0 1px 6px, rgba(0,0,0,.239216) 0 1px 4px;
    background-color: #0085a1!important;
}
.alltagchecked{
    box-shadow: rgba(0,0,0,.117647) 0 1px 6px, rgba(0,0,0,.239216) 0 1px 4px;
    background-color: #e4e4e4!important;
}
@media screen and (max-width:768px) {
    .learns{
        padding: 30px;
    }
}