#hero{
    z-index: -1;
}
.midimg{
    background: url('../img/bcg.jpg') no-repeat center fixed;
    background-size: 1620px 762px;
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: none;
}
.midtext{
    display: inline-block;
    width: 400px;
    height: 200px;
    text-align: center;
}
.midtext img{
    width: 30px;
    opacity: 0.7;
    cursor: pointer;
}
.midtext img:hover{
    opacity: 1;
}
#gi{
    width: 30px;
}
#wb{
    width: 33px;
}
@media screen and (max-width:768px){
    .midimg{
        background: url('../img/bcg2.jpg');
        background-size: cover;  
        height: 100vh;
    }
    .midtext{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (min-width:1500px){
    .midimg{
        background-size: cover;
    }
}

