@import '~highlight.js/styles/mono-blue.css';
.content-container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 20px;
    min-height: 600px;
}
.content-header a{
    color: black;
}
.content-header a:hover{
    color:#1890ff;
}
.content-header h1{
    margin: 1em 0;
    font-weight: 200;
}
.content-body{
    box-shadow: 1px 1px 10px #333333; 
    padding: 30px;
    height: auto;
}
.content-body pre{
    background-color: #eaeef3;
    padding: 10px;
}
.block{
    height: 100px;
    display: block;
}
.cometoreview{
    float: left;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #959595;
}
.review-title{
    margin-top: 20px;
    border: 2px solid #959595;
    border-bottom: none; 
    border-radius: 10px 10px 0 0;
    padding: 6px 0px;
    width: 100px;
    text-align: center;
    position: relative;
    background-color: #fff;
    z-index: -2;
}
.review-title h3{
    color: #959595;
}
.review-subtitle-deco{
    width: 8px;
    background: #959595;
    height: 35px;
    float: left;
    margin-top: 10px;
    border-radius: 15%;
}
.review-subtitle{
    float: left;
    color: #959595;
    font-size: 16px;
    margin-top: 14px;
    margin-left: 15px;
}
.review-hr{
    width: 100%;
    border-bottom: 2px solid #959595;
    position: relative; 
    z-index: -3;
    top: -2px;
}
.content-block{
    clear: both;
    height: 50px;
}
@media screen and (max-width:768px){
    .content-body{
        padding: 10px;
    }
    .pc-back{
        margin-top:50%; 
    }
}
