#hero{
    z-index: -1;
}
.midimg{
    background: url('../img/bcg.jpg') no-repeat center fixed;
    background-size: 1620px 762px;
    height: 762px;
    width: 100%;
    display: flex;
    align-items: center;
}
.midtext{
    width: 400px;
    height: 200px;
    margin: auto;
    text-align: center;
}
.midtext img{
    width: 30px;
    opacity: 0.7;
    cursor: pointer;
}
.midtext img:hover{
    opacity: 1;
}
#zhi{
    border-radius: 50%;
    width: 28px;
}
@media screen and (max-width:768px){
    .midimg{
        background-size: cover;
        height: 550px;
    }
    .midtext{
        font-size: 12px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (min-width:1500px){
    .midimg{
        background-size: cover;
    }
}

